NJTClient/src/wsdl/localhost_8080/NJTWS/CarWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.njtws.wdyc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.njtws.wdyc.com/" name="CarWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.njtws.wdyc.com/" schemaLocation="http://localhost:8080/NJTWS/CarWS?xsd=1"/>
</xsd:schema>
</types>
<message name="addCar">
<part name="parameters" element="tns:addCar"/>
</message>
<message name="addCarResponse">
<part name="parameters" element="tns:addCarResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="saveCar">
<part name="parameters" element="tns:saveCar"/>
</message>
<message name="saveCarResponse">
<part name="parameters" element="tns:saveCarResponse"/>
</message>
<portType name="CarWS">
<operation name="addCar">
<input wsam:Action="http://services.njtws.wdyc.com/CarWS/addCarRequest" message="tns:addCar"/>
<output wsam:Action="http://services.njtws.wdyc.com/CarWS/addCarResponse" message="tns:addCarResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.njtws.wdyc.com/CarWS/addCar/Fault/Exception"/>
</operation>
<operation name="saveCar">
<input wsam:Action="http://services.njtws.wdyc.com/CarWS/saveCarRequest" message="tns:saveCar"/>
<output wsam:Action="http://services.njtws.wdyc.com/CarWS/saveCarResponse" message="tns:saveCarResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.njtws.wdyc.com/CarWS/saveCar/Fault/Exception"/>
</operation>
</portType>
<binding name="CarWSPortBinding" type="tns:CarWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addCar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="saveCar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="CarWS">
<port name="CarWSPort" binding="tns:CarWSPortBinding">
<soap:address location="http://localhost:8080/NJTWS/CarWS"/>
</port>
</service>
</definitions>