NJTClient/src/wsdl/localhost_8080/NJTWS/UserWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.njtws.wdyc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.njtws.wdyc.com/" name="UserWS">
<types>
<xsd:schema>
<xsd:import namespace="http://services.njtws.wdyc.com/" schemaLocation="http://localhost:8080/NJTWS/UserWS?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="registerShop">
<part name="parameters" element="tns:registerShop"/>
</message>
<message name="registerShopResponse">
<part name="parameters" element="tns:registerShopResponse"/>
</message>
<message name="registerClient">
<part name="parameters" element="tns:registerClient"/>
</message>
<message name="registerClientResponse">
<part name="parameters" element="tns:registerClientResponse"/>
</message>
<portType name="UserWS">
<operation name="login">
<input wsam:Action="http://services.njtws.wdyc.com/UserWS/loginRequest" message="tns:login"/>
<output wsam:Action="http://services.njtws.wdyc.com/UserWS/loginResponse" message="tns:loginResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.njtws.wdyc.com/UserWS/login/Fault/Exception"/>
</operation>
<operation name="registerShop">
<input wsam:Action="http://services.njtws.wdyc.com/UserWS/registerShopRequest" message="tns:registerShop"/>
<output wsam:Action="http://services.njtws.wdyc.com/UserWS/registerShopResponse" message="tns:registerShopResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.njtws.wdyc.com/UserWS/registerShop/Fault/Exception"/>
</operation>
<operation name="registerClient">
<input wsam:Action="http://services.njtws.wdyc.com/UserWS/registerClientRequest" message="tns:registerClient"/>
<output wsam:Action="http://services.njtws.wdyc.com/UserWS/registerClientResponse" message="tns:registerClientResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://services.njtws.wdyc.com/UserWS/registerClient/Fault/Exception"/>
</operation>
</portType>
<binding name="UserWSPortBinding" type="tns:UserWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="registerShop">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="registerClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="UserWS">
<port name="UserWSPort" binding="tns:UserWSPortBinding">
<soap:address location="http://localhost:8080/NJTWS/UserWS"/>
</port>
</service>
</definitions>